app.GOAL_DELAY=0
app.GOVEE_API_KEY=
app.HUE_API_KEY=
app.using=GOVEE
app.FLASH_INTERVAL=1
app.TIME_FLASHING=15
app.GOVEE_MODEL=
app.MAC_ADDRESS=
app.GOVEE_MODEL_LIGHT_2=
app.MAC_ADDRESS_LIGHT_2=
app.MAC_ADDRESS_PLUG=
app.GOVEE_MODEL_PLUG=H