app.GOAL_DELAY=0
app.GOVEE_API_KEY=827ffbf0-c075-4961-8721-84b88a3efa60
app.HUE_API_KEY=ADhsluVjvZ3-LFqBJyW9wggLFXiRezmXscAax5-t
app.using=GOVEE
app.FLASH_INTERVAL=1
app.TIME_FLASHING=15
app.GOVEE_MODEL=H619A
app.MAC_ADDRESS=0D:3B:C7:6A:00:46:19:5D